@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');

@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-heading: var(--font-sans);
  --color-primary: var(--color-indigo-300);
  --color-secondary: var(--color-gray-300);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --border: 214.3 31.8% 91.4%;
  }

  input {
    @apply border border-gray-300 px-2.5 py-1.5 rounded-md;
  }
}

@layer utilities {
  .form-group {
    @apply flex flex-col gap-1;

    & *[role='alert'] {
      @apply text-red-400;
    }
  }
}
